:root{
  --dark-green: #283618;
  --green: #E9ECDE;
  --light-green: #FEFAE0;
  --orange: #BC6C25;
  --light-orange: #ECC393;
  --white: #F8F8FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin-top: 140px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--green);
  overflow-x: hidden;
}

p{
  font-size: 20px;
}

ul{
  list-style: none;
  display: flex;
}

/*HEADER*/
.menu-icon {
  display: none; /* Скрита по подразбиране на по-големи екрани */
}

header{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: var(--dark-green);
  color: var(--light-green);
}

.header-img{
  display: flex;
  align-items: center;
  gap: 5px;
}

#header-img{
  width: 40px;
}

.header-img h1{
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.nav-link{
  padding: 10px;
  text-decoration: none;
  color: var(--light-green);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.nav-link:hover{
  color: var(--white);
  transition-duration: 0.2s;
}

/*END HEADER*/

/*MAIN*/
.flex-container{
  margin-left: 10%;
  margin-right: 20%;
}

.video-container{
  margin-left: 10%;
  margin-right: 10%;
}

h2{
  font-size: 28px;
}

.icon{
  color: var(--orange);
  font-size: 70px;
  text-align: center;
  padding: 0;
}

.flex-item{
  padding-top: 95px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

table{
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 10px 0;
  table-layout: fixed;
  margin-top: 20px;
}

th {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
  padding: 10px; 
  background-color: var(--light-orange);
  box-shadow: 5px 5px 5px #888;
  border-radius: 10px 10px 0px 0;
}

td {
  padding: 10px 25px;
  background-color: var(--white);
  height: 150px;
  box-shadow: 5px 5px 5px #888;
  border-radius: 0 0 10px 10px;
}

td, th{
  vertical-align: top; 
  text-align: center;  
}

td p{
  font-size: 15px;
}

td i{
  display: block; 
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 30px;
}

tr > td + td, tr > th + th {
  border-left-width: 30px;
}

blockquote {
  background: var(--white);
  border-left: 10px solid var(--light-orange);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote:before {
  color: var(--light-orange);
  font-size: 4em;
  font-style: normal;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.5em;
  content: "\201C";
}

blockquote span{
  display:block;
  font-style: normal;
  font-weight: 600;
  margin-top:0.5em;
}

.video-container{
  padding: 95px 0;
  display: flex; 
  justify-content: center; 
  }

#video {
  width: 100%;
  max-width: 600px; 
  height: auto; 
  aspect-ratio: 16 / 9;
}

#signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

#signUp h2{
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

#form {
  width: 100%;
  max-width: 300px;
}

#email {
  width: 100%;
  height: 2rem;
  padding-left: 0.5em;
  margin-bottom: 1.5rem;
}

#submit {
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
  max-width: 200px; 
}

#submit:hover {
  background-color: #3e4c40;
}
/*END MAIN*/

/*FOOTER*/
  footer{
    background-color: #c7c7c7;
    margin-top: 85px;
    padding: 15px 0;
  }

  footer p{
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .bold{
    padding-top: 10px;
    font-weight: 500;
  }
/*END FOOTER*/

 @media only screen and (max-width: 950px){
   header{
     display: flex;
     flex-direction: column;
   }

   #inline-elements{
     display: flex;
      width: 100%;
     align-items: center;
     justify-content: space-between;
   }

   .nav-bar{
    overflow: hidden;
    position: relative;
   }

   #nav-bar {
      display: none;
      text-align: center;
    }

    .nav-link {
      font-size: 17px;
      display: block;
    }

    .nav-link:hover, .menu-icon:hover {
      color: var(--white);
      
    }

    .active {
      color: var(--white);
    }

    .menu-icon {
      display: block;
      color: var(--green);
      font-size: 40px;
      padding: 10px;
    }

    #nav-bar.show {
      display: block;
    }

    .flex-container{
      margin-left: 5%;
      margin-right: 9%;
      text-align: justify;
    }

    .video-container{
    padding: 3rem 0;
  }
}
